@charset "UTF-8";
*, *:after, *:before { vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-osx-font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; }
*::-moz-selection, *:after::-moz-selection, *:before::-moz-selection { color: white; background-color: #96c8ff; }
*::selection, *:after::selection, *:before::selection { color: white; background-color: #96c8ff; }

html { position: relative; }
html body { position: relative; display: inline-block; width: 100%; margin: 0; padding: 0; color: #5a5a5a; text-align: center; font-size: medium; font-family: "微軟正黑體", "Open sans", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif; }
html body::-moz-selection { color: white; background-color: #78baff; }
html body::selection { color: white; background-color: #78baff; }

form.login_form { display: inline-block; width: 100%; padding: 15px 10px; }
form.login_form .list { display: inline-block; width: 100%; text-align: left; }
form.login_form .list .row { display: inline-block; width: 100%; }
form.login_form .list .row > b { display: block; height: 20px; line-height: 20px; font-size: 14px; margin-bottom: 2px; }
form.login_form .list .row > textarea { display: inline-block; width: 100%; height: 150px; line-height: 27px; border: 1px solid #c8c8c8; font-size: 16px; padding: 0 4px; color: #787878; margin-top: 5px; resize: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
form.login_form .list .row > input[type="submit"] { margin-top: 10px; background-color: #419cfb; color: white; text-align: center; height: 35px; border: 0; width: 100%; font-size: 16px; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -webkit-appearance: none; }
form.login_form .list .row + .row { margin-top: 5px; }
